<div class="container">
    <div class="card" style="width: 25rem">
        <div class="card-body">
            <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

                <div class="form-group space">
                    <select formControlName="reason" class="form-control">
                        <option value="Issue">Issue</option>
                        <option value="Bug">Bug</option>
                        <option value="Suggestion">Suggestion</option>
                        <option value="Other" selected>Other</option>
                    </select>
                </div>
                <div class="form-group space">
                    <textarea class="form-control" formControlName="description" placeholder="Description"></textarea>
                    <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field
                        is
                        required.
                    </div>
                </div>
                <div class="row space">
                    <div class="form-group col-md-6">
                        <a routerLink="/movie/list" class="btn btn-primary full">Go to Movies</a>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-success full">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>