.space {
    margin: 10px
}

.full {
    width: 100%;
}
.container{
    background-image: url("src/assets/images/feedbackBackgroungimg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}