<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{action}} Title" matInput [(ngModel)]="local_data.title">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
        <input placeholder="{{action}} Duration" matInput [(ngModel)]="local_data.duration">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
        <textarea placeholder="{{action}} Description" matInput [(ngModel)]="local_data.description"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
        <input placeholder="{{action}} ImageUrl" matInput [(ngModel)]="local_data.imageUrl">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
        <input placeholder="{{action}} TrailerUrl" matInput [(ngModel)]="local_data.trailerUrl">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
        <select [(ngModel)]="local_data.category">
            <option value="Crime">Crime</option>
            <option value="Action">Action</option>
            <option value="Drama">Drama</option>
            <option value="Horror">Horror</option>
        </select>
    </mat-form-field>
    <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.title}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
</div>
