.space {
    margin: 10px
}

.full {
    width: 100%;
}

img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
