.all{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.mat-app-background{
    background-image: url("src/assets/images/login1111111111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}
.all1{
    margin-top: 70px;
}
