<div *ngIf="undifindHandle(movie)">
    <div class="details-container">
        <h1>{{movie.title}}</h1>
        <div class="body-container">
            <div class="image-space">
                <img src="{{movie.imageUrl}}" >
            </div>
            <div class="space text-space">
                <h2>Description:</h2>
                <p>{{movie.description}}</p>
                <h2>Movie Trailer:</h2>
                <iframe width="420" height="345" [src]="movie.trailerUrl.replace('watch?v=', 'embed/') | safe" allowfullscreen>
                </iframe>
            </div>
        </div>
        <app-rating [movieTitle]="movie.title"></app-rating>
    </div>
</div>
