.details-container {
    padding: 25px 170px;
}

.body-container {
    display: flex;
    flex-direction: row;
}

img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.space {
    margin-left: 50px;
}
