<div class="container">
    <div class="card" style="width: 25rem">
        <div class="card-body">
            <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                <div class="form-group space">
                    <select formControlName="rating" class="form-control">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                </div>
                <div class="form-group space">
                    <textarea class="form-control description" formControlName="comment" placeholder="comment here"></textarea>
                    <div class="text-danger" *ngIf="isSubmitted && formControls.comment.errors?.required">This field
                        is
                        required.
                    </div>
                </div>
                <div class="row space">
                    <div class="form-group col-md-6">
                        <a routerLink="/movie/list" class="btn btn-primary full">Go to Movies</a>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-success full">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ul *ngFor="let movie of movies">

<li>
    {{movie.rating}}
</li>
<li>
    {{movie.comment}}
</li>
</ul>