.page{
    background-image: url("src/assets/images/back-home.jpeg");
    background-repeat: no-repeat;

}
filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}